.pomodoro-button-wrapper.header {
 display: flex;
 flex-direction: column;
 justify-content: space-evenly;
 align-items: center;
 margin-bottom: 2rem;
}

.btn-dark {
  height: 2.8rem;
  font-weight: 600;
  width: 90%;
  margin-top: 1.2rem;
  border-style: none;
  border-radius: 20px;
  font-size: 1.2rem;
  background: #242422;
  color: #fdfbf6;
  transition: background-color 0.5s;
}

.btn-dark:hover {
    background: #53534e; 
}
