.pomodoro-button-wrapper.header {
 display: flex;
 flex-direction: column;
 justify-content: space-evenly;
 align-items: center;
 margin-bottom: 2rem;
}

.btn-dark {
  height: 2.8rem;
  font-weight: 600;
  width: 90%;
  margin-bottom: 1.2rem;
  border-style: none;
  border-radius: 20px;
  font-size: 1.2rem;
  background: #242422;
  color: #fdfbf6;
  transition: background-color 0.5s;
}

.btn-red {
  height: 2.8rem;
  font-weight: 600;
  width: 90%;
  border-style: none;
  border-radius: 20px;
  font-size: 1.2rem;
  background: #b44c4c;
  color: #fdfbf6;
  transition: background-color 0.5s;
}

.btn-dark:hover {
    background: #53534e; 
}

/* Start / Reset buttons */

.pomodoro-button-wrapper {
  display: flex;
  flex-direction: column;

  button.start-btn, button.reset-btn {
    width: 90%;
    margin: 0 auto 1.2rem auto;
  }
}
