.pomodoro-button-wrapper.header {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 2rem;
}

.btn-dark {
  height: 2.8rem;
  font-weight: 600;
  width: 90%;
  margin-bottom: 1.2rem;
  border-style: none;
  border-radius: 20px;
  font-size: 1.2rem;
  background: #242422;
  color: #fdfbf6;
  transition: background-color 0.5s;
}

.btn-red {
  height: 2.8rem;
  font-weight: 600;
  width: 90%;
  border-style: none;
  border-radius: 20px;
  font-size: 1.2rem;
  background: #b44c4c;
  color: #fdfbf6;
  transition: background-color 0.5s;
}

.btn-dark:hover {
  background: #53534e;
}

/* Start / Reset button */

.pomodoro-button-wrapper {
  display: flex;
  flex-direction: column;

  button.start-btn,
  button.reset-btn {
    width: 90%;
    margin: 0 auto 1.2rem auto;
  }
}

/* add task button */

.dashed {
  border-style: dashed;
}

/* #add-task-container */
.closed {
  border-radius: 20px;
  width: 90%;
  margin: auto;
  height: 2.8rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 2.8rem;
  font-weight: 700;
  font-size: 1.2rem;
  overflow: auto;
  height: auto;
  background-color: beige;


  p {
    margin: 1rem;
  }

}

/* #add-task-container */
.open {

  border-radius: 20px;
  width: 90%;
  margin: auto;
  height: 2.8rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 2.8rem;
  font-weight: 700;
  font-size: 1.2rem;
  overflow: auto;
  height: auto;
  background-color: beige;

  input.add-task-input-text {
    outline: none;
    width: 90%;
    border-radius: 15px;
    margin-top: 1rem;
    padding-left: 10px;
    border: medium;
    font-weight: 600;
    font-style: italic;
    height: 2rem;
  }

  .input-number-container {
    width: 90%;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    margin-top: 0.8rem;

    input#add-task-input {
      padding-left: 10px;
      outline: none;
    }

    #btn-increase-estimated,
    #btn-decrements-estimated {
      width: 40px;
    }

    input#add-task-input,
    #btn-increase-estimated,
    #btn-decrements-estimated {
      margin-right: 25px;
      border-radius: 15px;
      border: medium;
    }

    /* Eliminar flechas en Chrome, Safari y Edge para una clase específica */
    #add-task-input::-webkit-inner-spin-button,
    #add-task-input::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    /* Eliminar flechas en Firefox para una clase específica */
    #add-task-input {
      appearance: textfield;
    }
  }

  /* buttons cancel/save* container */
  div.buttons-save-cancel-container {
    width: 90%;
    margin-top: 15px;
    margin-bottom: 15px;
    height: 40px;
    display: flex;
    justify-content: space-between;

    button#btn-save,
    button#btn-cancel {
      width: 45%;
      border-radius: 15px;
      border: medium;
    }
  }
}
