@import 'title.css'; 
@import 'taskList.css';
@import 'buttons.css';
@import 'timer.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  transition: background-color 0.3s, color 0.3s;
  /* font-optical-sizing: auto;  ???? */
  /* font-weight: 700; */
  /* font-style: normal;  ???? */
  /* font-size: 1.5rem; */
  /* line-height: 32px; */
  background-color: #fdfbf6;
  color: #242422;
}

.components-container {
  display: flex;
  flex-direction: column;
  /* background-color: #FDFBF6 ; */
  align-items: center;
}

/* focusing main contenders */
.pomodoro-container,
.add-task-wrapper,
.task-container {
  width: 50%;
}