.text-decoration-line {
    text-decoration: line-through;
}

span.text-decoration-none {
    text-decoration: none;
}

.inline {
    display: inline;
}

.highlighted {
    border-style: solid;
    border-width: 1px;
    padding: 2px;
}

.components-container {
    display: flex;
    flex-direction: column;
    background-color: red;
    align-items:center;
}

.pomodoro-container, .add-task-wrapper, .task-container {
    width: 50%;
    background-color: beige;
}