.text-decoration-line {
  position: relative;
  color:   #909497 ;
  /* text-decoration: line-through; */
}

.text-decoration-line::after {
  content: '';
  position: absolute;
  left: 20px;
  right:50px;
  top: 50%;
  height: 1.5px; /* Ajusta el grosor de la línea aquí */
  background-color:  #909497 ; /* Color de la línea */
  transform: translateY(-50%);
}

span.text-decoration-none {
  text-decoration: none;
}

.inline {
  display: inline;
}

.highlighted {
  padding-left: 2rem;
  margin-bottom: 5px;
  height: 2.6rem;
  background-color: beige;
  border-radius: 10px;
  background: linear-gradient(to right, #b44c4c 2%, beige 2%);
  
}

.add-task-wrapper {
  margin-bottom: 1.2rem;
}

/* remove li styles */
.pending-list-container, .finish-list-container {
  width: 90%;
  margin: auto;
  font-size: 1.2rem;
  font-weight: 500;

  ul > li {
    height: 2.6rem;
    padding-left: 2rem;
    margin-bottom: 5px;
    border-radius: 10px;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:      #f4f6f6 ;
  }
}

  /* tasks list buttons  */
  .remove-task {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 24px;
    color: #242422; /* Cambia el color del icono si es necesario */
  }

  .remove-task:hover {
    color: #b44c4c ; /* Cambia el color al pasar el cursor si es necesario */
  }