.text-decoration-line {
  text-decoration: line-through;
}

span.text-decoration-none {
  text-decoration: none;
}

.inline {
  display: inline;
}

.highlighted {
  padding-left: 2rem;
  margin-bottom: 5px;
  height: 2.6rem;
  background-color: beige;
  border-radius: 10px;
  background: linear-gradient(to right, #b44c4c 2%, beige 2%);
  
}

.add-task-wrapper {
  margin-bottom: 1.2rem;
}

/* remove li styles */
.pending-list-container, .finish-list-container {
  width: 90%;
  margin: auto;

  ul > li {
    height: 2.6rem;
    padding-left: 2rem;
    margin-bottom: 5px;
    border-radius: 10px;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:     #f2f4f4;
  }
}